<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>My Diary</title>
    <link rel="stylesheet" href="/stylesheets/edit.css">

</head>

<body>
    <nav>
        <div class="titlee">
            <a href="/">My Diary</a>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/create">Create new</a>
        </div>
    </nav>

    <div class="main">
        <h1>Edit Note</h1>
        <div class="notesContainer">
            <form action="/update/<%= title%>" method="post">
                <div style="display: flex; flex-direction: column;">
                    <textarea id="autoResize" style="resize: none;" class="singleNote" name="note" oninput="autoResizeTextarea(this)"><%= data.note%></textarea>
                    <div>
                        <input style="background-color: #3d3d3d;" class="button" type="submit">
                        <a style="background-color: #653030;" class="backBtn" href="/delete/<%= title%>">Delete</a>
                        <a style="background-color: #3d3d3d;" class="backBtn" href="/">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        function autoResizeTextarea(textarea) {
            textarea.style.height = 'auto'; // Reset the height
            textarea.style.height = (textarea.scrollHeight) + 'px'; // Set height based on scrollHeight
        }
    
        // Initialize the textarea with the right height based on the initial content
        document.getElementById('autoResize').style.height = document.getElementById('autoResize').scrollHeight + 'px';
    </script>
    
    </div>
</body>

</html>

